<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="A simple app to recognize handwritten digits by webcam."/>
        <meta name="author" content="Bertrand Fournel - Hélène Tilquin - Guillian Le Pennec" />
        <meta name="viewport" content="width=device-width, intial-scale=1">  
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Handwritten digits recognition</title>
    </head>
<body>
    <h3>Handwritten digits recognition</h3>
        <p>Show me a handwritten digit and I will recognize which digit is...
            Place your digit in the red square.
        </p>
    
    <div class="video-wrap">
        <canvas id="canvas-vision" width="400" height="300">
            <video id="video" playinline autoplay>
            </video>
        </canvas>
    </div>
    <canvas id="canvas-processing" width="28" height="28" class="processing">
    </canvas>


    

    <p><span id="result-element"></span></p>
    
    <p id="credits">Project made with ❤️ by <a href="https://htilquin.github.io/">Hélène Tilquin</a>, <a href="https://github.com/Teykowo">Guilian Le Pennec</a> and <a href="https://bertrandfournel.github.io/">Bertrand Fournel</a></p>

    <script type=text/javascript src="{{
        url_for('static', filename='jquery.js') }}">
    </script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; // Ici on stocke dans une variable le chemin root au server
    </script>

    <script>
        'use strict'

        // En premier, on initialise des variables pour travailler avec
        const video = document.getElementById('video');
        const dataCup = document.getElementById('data')

        const zone = 140;

        const canvas_vision = document.getElementById('canvas-vision');
        var ctx_vision = canvas_vision.getContext('2d');
        const width = canvas_vision.width
        const height = canvas_vision.height

        const canvas_processing = document.getElementById('canvas-processing');
        var ctx_processing = canvas_processing.getContext('2d');

        const canvas_result = document.getElementById('canvas-result');
        var ctx_result = canvas_processing.getContext('2d');


        const errorMsgElement = document.getElementById('spanErrorMsg');
        


        // On initialise les paramètres de capture vidéo
        const constraints = {
            audio :false,
            video :{
                width: width,
                height : height
            }
        };
        
        // On initialise une fonction de départ 
        async function init(){
            try{
                const stream = await navigator.mediaDevices.getUserMedia(constraints);// On demande l'accès à la caméra
                handleSuccess(stream);
            }
            catch(e){
                errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;// En cas d'erreur on affiche le message d'erreur
            }
        }

        // Si nous l'accès à la caméra fonctionne on envoit le stream dans l'objet "video"
        function handleSuccess(stream){
            window.stream = stream;
            video.srcObject = stream;
        }
        
        init() // On lance la fonction de départ (c'est ici que tout commence)

        // Dès que l'accès à la caméra fonctionne on qu'on a récupéré le stream vidéo on va faire quelques traitements (affichage et envoi au backend notamment)
        window.setInterval(()=> {
            ctx_vision.drawImage(video, 0,0, width,height);// On affiche le retour vidéo (on récupère l'objet vidéo)
            
            // On dessine un carré rouge
            ctx_vision.strokeStyle = "red";
            ctx_vision.strokeRect(((width-zone)/2), ((height-zone)/2), zone, zone);

            // On dessine sur le cadre du bas ce qui sera envoyé au modèle de reconnaissance
            ctx_processing.drawImage(video, ((width-zone)/2),((height-zone)/2), zone, zone, 0, 0, 28,28);


            // On envoie ce qui est capturé au backend Flask
            var dataURL = canvas_processing.toDataURL();// On récupère le stream vidéo
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + '/get_result', // On récupère le chemin d'accès du traitement python (la route /get_result)
                data: dataURL, // Ici ce sont les données qu'on envoit
                contentType: "application/json; charset=utf-8", // On prépare le type de données et son encodage
            }).done(function(data) { // On récupère la réponse du Backend (nommé data)
                $('#result-element').text(data); // On affiche la réponse dans le HTML
            });
            
        },40)// On répète l'opération toutes les 40 ms (soit 25 images par seconde)

    </script>
</body>
</html>

